<div class="card bg-light mx-auto" style="width: 50%">
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <a href="#" class="card-link">投稿 <%# post %>件</a>
    <a href="#" class="card-link">フォロー <%# follow %>人</a>
    <a href="#" class="card-link">フォロワー <%# follower %>人</a>
    <a href="#" class="card-link">いいねした投稿 <%# post %></a>
    <%# 場合によってfollowボタンを置く %>
  </div>
</div>

<%# 投稿一覧 %>