/*ページネーション関係*/
.pagination {
  justify-content: center;
}

.pagination li .page-link {
  border: none;
}

.pagination .active .page-link {
  border-radius: 20px;
}

.pagination li .page-link:hover {
  border-radius: 20px;
}


/*signupの文字ロゴ*/
#logo {
  text-align: center;
  margin-top: 80px;
}

#charlogo {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
}