<header mb-4>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <%= image_tag "catlogo.png",width: "30",height: "24",class: "d-inline-block align-text-top" %>
        PetPhoto
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <% if logged_in? %>
          <ul class="navbar-nav">
            <li class="nav-item"><a href="/users" class="nav-link">ユーザ一覧</a></li>
            <li class="nav-item"><a href="#" class="nav-link">新規投稿</a></li>
            <li class="nav-item"><a href="/users/<%= current_user.id %>" class="nav-link">my profile</a></li>
            <li class="nav-item"><a href="/logout" data-method="delete" class="nav-link">ログアウト</a></li>
          </ul>
        <% else %>
          <ul class="navbar-nav">
            <li class="nav-item"><a href="/users" class="nav-link">ユーザ一覧</a></li>
            <li class="nav-item"><a href="/signup" class="nav-link">新規登録</a></li>
            <li class="nav-item"><a href="/login" class="nav-link">ログイン</a></li>
          </ul>
        <% end %>  
      </div>
    </div>
  </nav>
</header>